  #nav-bar,
  #Home,
  #search-bar,
  #Songs,
  #Game,
  #Videos,
  #main-bar, {
    float: left;
  }
  
  #home {
    width: 30%;
    height: 20%;
    color:
 }

  #search-bar {
    width: 70%;
  }
  
  #songs {
    width: 30%;
    height: 20%;
    color:

  }
  
  #games {

    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  #videos {
      width: 200px;
      height: 200px;;
  }
