* {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: 200;
  text-align: center;
}
button {
  background-color: rgb(red, green, blue);
}

#searchAndNav,
#sideBar,
#mainSection {
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  background-color: rgb(172, 249, 252);
}

#searchBtn {
  margin-left: 5px;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
}
.searchBox {
  margin-top: 20px;
  max-width: 200px;
  max-height: 50px;
}

.headBtn {
  margin-top: 15px;
  padding: 15px;
  border-radius: 6px;
  font-size: 30px;
}

.topicBtn {
  padding: 10px;
  margin-left: 15px;
  border-radius: 6px;
  font-size: 25px;
  margin-bottom: 10px;
}
#currentPage {
  text-indent: 30px;
  margin-top: 15px;
}

h1 {
  margin-top: 20px;
}

#topicsHead {
  text-indent: 30px;
  margin-top: 15px;
}

#media1,
#media2,
#media3 {
  max-width: 500px;
  max-height: 500px;
}
/* #home {
  width: 30%;
  height: 20%;
}

#search-bar {
  width: 70%;
}

#songs {
  width: 30%;
  height: 20%;
}

#games {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
#videos {
  width: 200px;
  height: 200px;
}  */
